body {
    font-family: Arial, sans-serif;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(220, 196, 182);
}


.SIGNUP {
    background-color: #fff;
    width: 400px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(201, 28, 28, 0.501);
    text-align: center;
    font-style: normal;
    font-style: italic;
    
    
}
.login{
    width: 360px;
    height: 320px;
    margin: auto;
    background-color: aqua;
    border-radius: 3px;
}


h1 {
    margin-bottom: 30px;
    color: #333;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #666;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
    color: #666;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

image{
  background-size: cover; 
  background-repeat: no-repeat;
}
